priority -50

snippet "\b(de)?f" "def <name>..." r
def ${1:function_name}${2:(${3:*args})}
	$0
end
endsnippet

snippet class "class <class_name> def initialize ... end end"
class ${1:class_name}
	def initialize(${2:*args})
		$0
	end
end
endsnippet

snippet module "module"
module ${1:module_name}
	$0
end
endsnippet

snippet ###
=begin
	$0
=end
endsnippet

snippet context "rspec: context block"
context '$1' do
	${0:${VISUAL:# assetions ...}}
end
endsnippet
